:global {
	.sk-checkbox {
		display: inline-block;
		vertical-align: top;
	}
	.sk-checkbox_label {
		display: inline-block;
		margin-left: 15px;
		vertical-align: top;
		label::after {
			display: none;
		}
	}
	.sk-table_checkbox {
		.ant-checkbox-checked .ant-checkbox-inner {
			background-color: #ffd156;
			border-color: #ffd156;
			&::after {
				border: 2px solid #222;
				border-top: none;
				border-left: none;
			}
		}
		&.ant-checkbox-wrapper:hover .ant-checkbox-inner, 
		.ant-checkbox:hover .ant-checkbox-inner, 
		.ant-checkbox-input:focus + .ant-checkbox-inner {
			border-color: #d9d9d9;
		}
		
	}
	.ant-checkbox-checked .ant-checkbox-inner {
		background-color: #ffd156;
		border-color: #ffd156;
		&::after {
			border: 2px solid #222;
			border-top: none;
			border-left: none;
		}
	}
	.ant-checkbox-wrapper:hover .ant-checkbox-inner, 
	.ant-checkbox:hover .ant-checkbox-inner, 
	.ant-checkbox-input:focus + .ant-checkbox-inner {
		border-color: #d9d9d9;
	}
	.ant-checkbox-indeterminate .ant-checkbox-inner::after {
		background-color: #222;
	}
}