@import '~antd/lib/style/themes/default.less';

@pro-header-hover-bg: rgba(0, 0, 0, 0.025);


.content {
  margin: 24px;
  padding-top: @layout-header-height;
}

.header {
  position: relative;
  height: @layout-header-height;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}


.right {
  float: right;
  height: 100%;
  overflow: hidden;
  .action {
    display: inline-block;
    height: 100%;
    padding: 0 12px;
    cursor: pointer;
    transition: all 0.3s;
    > i {
      color: @text-color;
      font-size: 16px;
      vertical-align: middle;
      svg {
        position: relative;
        top: -1px;
      }
    }
    &:hover {
      background: #eee;
    }
    &:global(.opened) {
      background: @pro-header-hover-bg;
    }
  }
  .search {
    padding: 0 12px;
    &:hover {
      background: transparent;
    }
  }
  .account {
    .avatar {
      margin: ~'calc((@{layout-header-height} - 24px) / 2)' 0;
      margin-right: 8px;
      color: @primary-color;
      vertical-align: top;
      background: rgba(255, 255, 255, 0.85);
    }
  }
}
:global{
  html, body {
    --antd-wave-shadow-color: transparent;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: bold;
  }
  h1 {
    margin-bottom: 20px;
    font-size: 22px;
  }
  h2 {
    margin-bottom: 15px;
    font-size: 20px;
  }
  h3 {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .ant-message-notice-content {
    background: #ffefc4;
  }
  .ant-upload-list-item:hover .ant-upload-list-item-info {
    background: #ffefc4;
  }
	.ant-btn.sk-main-button,
	.ant-btn.sk-main-button--grey  {
		height: auto;
		padding: 6px 15px;
		color: #222;
		font-weight: 600;
		font-size: 14px;
		font-family: Source Sans Pro;
		font-style: normal;
		line-height: 18px;
		text-align: center;
		background: #FFD156;
		mix-blend-mode: normal;
		border: 1px solid #FFD156;
		border-radius: 5px;
		&:hover,
		&:focus {
			color: #fff;
			background: transparent;
			border-color: #ffd156;
		}
	}
	.ant-btn.sk-main-button--grey {
		color: #fff;
		background-color: #4D4F5B;
		border-color: #4D4F5B;
		&:hover,
		&:focus {
			color: #fff;
			background-color: transparent;
			border-color: #4D4F5B;
		}
  }
  .unicons {
    vertical-align: -0.125em;
  }
  .ant-btn:hover, .ant-btn:focus {
    color: #ffd156;
    background-color: #fff;
    border-color: #ffd156;
  }
  .ant-modal-content {
    .ant-btn {
      color: #222;
      background-color: transparent;
      border-color: #ffd156;
      &:hover,
      &:focus {
        color: #222;
        background-color: #ffd156;
      }
    }
    .ant-btn-primary {
      color: #222;
      background-color: #ffd156;
      border-color: #ffd156;
      &:hover {
        color: #222;
        background-color: transparent;
      }
      &:focus {
        color: #222;
      }
    }
  }
  #root {
    overflow-y: hidden;
  }
  .ant-spin-nested-loading > div > .ant-spin {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 400px;
  }
  .panel__centerColumn .ant-spin-nested-loading > div > .ant-spin {
    position: fixed;
    top: auto;
    right: 26px;
    left: auto;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 530px);
    height: 100%;
    max-height: 400px;
    pointer-events: none;
  }
  .ant-spin-nested-loading > div > .ant-spin .ant-spin-text {
    position: static;
    width: 100%;
    padding-top: 5px;
    color: #999;
    font-size: 20px;
    text-shadow: 0 1px 2px #fff;
  }
  .ant-spin-spinning {
    display: block;
    color: #222;
  }
}
