@import '~antd/lib/style/themes/default.less';

@pro-header-hover-bg: rgba(0, 0, 0, 0.025);

.header {
  position: relative;
  height: @layout-header-height;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

.right {
  float: right;
  height: 100%;
  overflow: hidden;
  .action {
    display: inline-block;
    height: 100%;
    padding: 0 12px;
    cursor: pointer;
    transition: all 0.3s;
    > i {
      color: @text-color;
      font-size: 16px;
      vertical-align: middle;
      
    }
   
    svg {
      position: relative;
      top: -1px;
      path {
        opacity: 0.6;
        transition: opacity 0.3s;
        fill: #F4AB3D;
      }
    }
    
    &:global(.opened) {
      background: @pro-header-hover-bg;
    }
    &:hover,
    &:focus {
        svg {
          path {
            opacity: 1;
          }
      }
    }
    &:nth-child(2) {
      svg path {
        fill: #43B755;
      }
    }
  }
  .search {
    padding: 0 12px;
    &:hover {
      background: transparent;
    }
  }
  .account {
    .avatar {
      margin: ~'calc((@{layout-header-height} - 24px) / 2)' 0;
      margin-right: 8px;
      color: @primary-color;
      vertical-align: top;
      background: rgba(255, 255, 255, 0.85);
    }
  }
}
