:global{
  .list-files{
    display: flex;
    flex-wrap: wrap;
    &__item{
      width: 100%;
      max-width: 140px;
      height: 150px;
      max-height: 150px;
      padding: 10px;
      img{
        width: 85px;
        height: 64px;
      }
      .sk-no-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 100px;
        background: #F8F8F8;
      }
      &--selected{
        background: #FFF2CD;
      }
    }
    &__title{
      max-width: 100%;
      height: 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
