:global {
  .ant-layout {
    background: #e7e7e7;
  }
  .b-main-container {
    height: 100%;
    min-height: calc(100vh - 120px);
    background: #fff;
  }
  .ant-tabs-nav-scroll {
    background: #e7e7e7;
  }
  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    color: #222;
    font-weight: bold;
    background: #f5f5f5;
    border: 1px solid transparent;
    border-bottom: 0;
    &.ant-tabs-tab-active {
      color: #222;
      background: #fff;
    }
    &:first-child {
      border-left-width:0;
    }
  }
  
  .ant-tabs-bar {
    border-bottom: 0;
  }
  .antd-pro-components-_sk-test-panel-index-panel {
    border: none;
  }
  
}
