:global {
	.sk-menu-collapser {
		position: absolute;
		z-index: 51;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 64px;
		color: #aaa;
		cursor: pointer;
		transition: color 0.25s ease-in-out;
		&:hover {
			color: #222;
		}
		&::after {
			position: absolute;
			top: 12px;
			right: 0;
			display: inline-block;
			content: '';
			width: 1px;
			height: 40px;
			background: #e5e5e5;
		}
	}
}