:global {
	.ant-input-number {
		background: #FBFBFB;
		outline: none;
		border-color: #DFDFDF;
		box-shadow: none;
		outline: none;
		&:focus,
		&:hover {
			border: 1px solid #DFDFDF;
			border-right-width: 1px !important;
			outline: 0;
			box-shadow: none; 
		}
	}
	.ant-input-number-input {
		outline: none;
	}
	.ant-input-number-disabled .ant-input-number {
		background: #f5f5f5;
	}
	.ant-input-number-input,
	.ant-input-number-input-wrap  {
		&:focus {
			border-color: #ffd156;
			border-right-width: 1px !important;
			outline: none;
			box-shadow: 0 0 0 2px rgba(255,209,86, 0.8);
		}
		&:hover {
			border-color: #ffd156;
			border-right-width: 1px !important;
		}
	}
	.ant-input-number-input-wrap {
		box-shadow: none;
	}
	.ant-input-number-handler:hover .ant-input-number-handler-up-inner, 
	.ant-input-number-handler:hover .ant-input-number-handler-down-inner {
		color: #222;
	}
	
}