<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>Ant Design Pro</title>
    <link rel="icon" href="/favicon.png" type="image/x-icon" />
  </head>
  <script>
    window.dict = [];
  </script>

  <style>

      @font-face {
        font-family: 'Source Sans Pro';
        src: url('./fonts/SourceSansPro-Bold.eot');
        src: url('./fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
            url('./fonts/SourceSansPro-Bold.woff2') format('woff2'),
            url('./fonts/SourceSansPro-Bold.woff') format('woff'),
            url('./fonts/SourceSansPro-Bold.ttf') format('truetype'),
            url('./fonts/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
        font-weight: bold;
        font-style: normal;
        }

        @font-face {
        font-family: 'Source Sans Pro';
        src: url('./fonts/SourceSansPro-LightItalic.eot');
        src: url('./fonts/SourceSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
            url('./fonts/SourceSansPro-LightItalic.woff2') format('woff2'),
            url('./fonts/SourceSansPro-LightItalic.woff') format('woff'),
            url('./fonts/SourceSansPro-LightItalic.ttf') format('truetype'),
            url('./fonts/SourceSansPro-LightItalic.svg#SourceSansPro-LightItalic') format('svg');
        font-weight: 300;
        font-style: italic;
        }

        @font-face {
        font-family: 'Source Sans Pro';
        src: url('./fonts/SourceSansPro-SemiBoldItalic.eot');
        src: url('./fonts/SourceSansPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
            url('./fonts/SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
            url('./fonts/SourceSansPro-SemiBoldItalic.woff') format('woff'),
            url('./fonts/SourceSansPro-SemiBoldItalic.ttf') format('truetype'),
            url('./fonts/SourceSansPro-SemiBoldItalic.svg#SourceSansPro-SemiBoldItalic') format('svg');
        font-weight: 600;
        font-style: italic;
        }

        @font-face {
        font-family: 'Source Sans Pro';
        src: url('./fonts/SourceSansPro-ExtraLightItalic.eot');
        src: url('./fonts/SourceSansPro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
            url('./fonts/SourceSansPro-ExtraLightItalic.woff2') format('woff2'),
            url('./fonts/SourceSansPro-ExtraLightItalic.woff') format('woff'),
            url('./fonts/SourceSansPro-ExtraLightItalic.ttf') format('truetype'),
            url('./fonts/SourceSansPro-ExtraLightItalic.svg#SourceSansPro-ExtraLightItalic') format('svg');
        font-weight: 200;
        font-style: italic;
        }

        @font-face {
        font-family: 'Source Sans Pro';
        src: url('./fonts/SourceSansPro-Regular.eot');
        src: url('./fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
            url('./fonts/SourceSansPro-Regular.woff2') format('woff2'),
            url('./fonts/SourceSansPro-Regular.woff') format('woff'),
            url('./fonts/SourceSansPro-Regular.ttf') format('truetype'),
            url('./fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
        font-weight: normal;
        font-style: normal;
        }

        @font-face {
        font-family: 'Source Sans Pro';
        src: url('./fonts/SourceSansPro-BoldItalic.eot');
        src: url('./fonts/SourceSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
            url('./fonts/SourceSansPro-BoldItalic.woff2') format('woff2'),
            url('./fonts/SourceSansPro-BoldItalic.woff') format('woff'),
            url('./fonts/SourceSansPro-BoldItalic.ttf') format('truetype'),
            url('./fonts/SourceSansPro-BoldItalic.svg#SourceSansPro-BoldItalic') format('svg');
        font-weight: bold;
        font-style: italic;
        }

        @font-face {
        font-family: 'Source Sans Pro';
        src: url('./fonts/SourceSansPro-ExtraLight.eot');
        src: url('./fonts/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
            url('./fonts/SourceSansPro-ExtraLight.woff2') format('woff2'),
            url('./fonts/SourceSansPro-ExtraLight.woff') format('woff'),
            url('./fonts/SourceSansPro-ExtraLight.ttf') format('truetype'),
            url('./fonts/SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight') format('svg');
        font-weight: 200;
        font-style: normal;
        }

        @font-face {
        font-family: 'Source Sans Pro';
        src: url('./fonts/SourceSansPro-SemiBold.eot');
        src: url('./fonts/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
            url('./fonts/SourceSansPro-SemiBold.woff2') format('woff2'),
            url('./fonts/SourceSansPro-SemiBold.woff') format('woff'),
            url('./fonts/SourceSansPro-SemiBold.ttf') format('truetype'),
            url('./fonts/SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold') format('svg');
        font-weight: 600;
        font-style: normal;
        }

        @font-face {
        font-family: 'Source Sans Pro';
        src: url('./fonts/SourceSansPro-BlackItalic.eot');
        src: url('./fonts/SourceSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
            url('./fonts/SourceSansPro-BlackItalic.woff2') format('woff2'),
            url('./fonts/SourceSansPro-BlackItalic.woff') format('woff'),
            url('./fonts/SourceSansPro-BlackItalic.ttf') format('truetype'),
            url('./fonts/SourceSansPro-BlackItalic.svg#SourceSansPro-BlackItalic') format('svg');
        font-weight: 900;
        font-style: italic;
        }

        @font-face {
        font-family: 'Source Sans Pro';
        src: url('./fonts/SourceSansPro-Light.eot');
        src: url('./fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
            url('./fonts/SourceSansPro-Light.woff2') format('woff2'),
            url('./fonts/SourceSansPro-Light.woff') format('woff'),
            url('./fonts/SourceSansPro-Light.ttf') format('truetype'),
            url('./fonts/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
        font-weight: 300;
        font-style: normal;
        }

        @font-face {
        font-family: 'Source Sans Pro';
        src: url('./fonts/SourceSansPro-Italic.eot');
        src: url('./fonts/SourceSansPro-Italic.eot?#iefix') format('embedded-opentype'),
            url('./fonts/SourceSansPro-Italic.woff2') format('woff2'),
            url('./fonts/SourceSansPro-Italic.woff') format('woff'),
            url('./fonts/SourceSansPro-Italic.ttf') format('truetype'),
            url('./fonts/SourceSansPro-Italic.svg#SourceSansPro-Italic') format('svg');
        font-weight: normal;
        font-style: italic;
        }

        @font-face {
        font-family: 'Source Sans Pro';
        src: url('./fonts/SourceSansPro-Black.eot');
        src: url('./fonts/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
            url('./fonts/SourceSansPro-Black.woff2') format('woff2'),
            url('./fonts/SourceSansPro-Black.woff') format('woff'),
            url('./fonts/SourceSansPro-Black.ttf') format('truetype'),
            url('./fonts/SourceSansPro-Black.svg#SourceSansPro-Black') format('svg');
        font-weight: 900;
        font-style: normal;
        }
        // fonts end


        body{
            font-family: 'Source Sans Pro';
            font-weight: normal;
            font-style: normal;
        }
  </style>
  <body>
    <noscript>Sorry, we need js to run correctly!</noscript>
    <div id="root"></div>
  </body>
</html>
