:global {
	.ant-time-picker-input {
		background: #FBFBFB;
		&:hover {
			border-color: #ffd156;
		}
	}
	.ant-time-picker-panel-select li {
		&:hover {
			background: rgba(255, 209, 86, 0.2);
		}
		&:focus {
			color: #222;
		}
	}
	.ant-time-picker-input:focus {
		border-color: #ffd156;
		border-right-width: 1px !important;
		outline: 0;
		box-shadow: 0 0 0 2px rgba(255, 209, 86, 0.2);
	}
	
}