.form {
  :global {

    .sk-content-collapse {
      & > .ant-collapse-item {
        border-bottom: 1px solid #e7e7e7;
      } 
    }
    .ant-checkbox-wrapper + span, .ant-checkbox + span {
      padding-left: 15px;
      color: #222;
    }
    .sk-checkbox_label .ant-form-item-no-colon {
      display: none;
    }
    .ant-form {
      &-item {
        &-label {
          margin-bottom: 10px;
          line-height: 1.1;
          white-space: pre-line;
        }
        

        &-control {
          line-height: 1.1;
        }

        label {
          color: #222;
          font-weight: normal;
          font-size: 14px;
          font-style: normal;
          line-height: 18px;
        }
      }
      .pathline {
        margin-bottom: 10px;
      }
      .sk-hidden-field {
        display: none;
      }
      .ant-checkbox-inner,
      .ant-checkbox-wrapper:hover .ant-checkbox-inner, 
      .ant-checkbox:hover .ant-checkbox-inner,
      .ant-checkbox:focus .ant-checkbox-inner,
      .ant-checkbox-input:focus + .ant-checkbox-inner {
        background: #fbfbfb;
        border-color: #dfdfdf;
      }
      .ant-checkbox-disabled .ant-checkbox-input[disabled] + .ant-checkbox-inner { 
		    background: #f5f5f5;
      }
      .ant-checkbox-disabled .ant-checkbox-inner {

      }
      .sk-hide-field {
        display: none;
      }
      .ant-checkbox-checked .ant-checkbox-input:focus + .ant-checkbox-inner {
        background: #ffd156;
        border-color: #ffd156;
      }      
      .ant-checkbox.ant-checkbox-checked .ant-checkbox-inner {
        background: #ffd156;
        border-color: #ffd156;
      }
      .ant-checkbox.ant-checkbox-checked .ant-checkbox-inner::after {
        border-color: #111;
      }
      .ant-form .ant-checkbox-wrapper:hover .ant-checkbox-inner {
        background: #ffd156;
      }
      .ant-checkbox-checked::after {
        border: 1px solid #ffd156;
      }
      
      .ant-mentions, 
      .ant-input,
      textarea.ant-input {
        box-sizing: border-box;
        height: auto;
        margin-bottom: 4px;
        background: #FBFBFB;
        border: 1px solid #DFDFDF;
        border-radius: 5px;
        &:focus {
          box-shadow: 0 0 0 2px rgb(255, 209, 86);
        }
        &[disabled] {
          background: #f5f5f5;
        }
      }
      
    }
    .ant-btn + span .ant-upload.ant-upload-select {
      margin-left: 15px;
    }
    .has-error {
      .ant-input,
      .ant-input-number, 
      .ant-time-picker-input {
        background-color: #ffecec !important;
        border-color: #f5222d !important;
        &:hover {
          background-color: #ffecec !important;
          border-color: #f5222d !important;
        }
        &:not([disabled]):hover {
          border-color: #E85F5F;
        }
        
        &:focus {
          border-color: #E85F5F !important;
          border-right-width: 1px !important;
          outline: 0;
          box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2) !important;
        }
      }
      .ant-input-number-input:focus, 
      .ant-input-number-input-wrap:focus {
          border-color: #E85F5F !important;
          border-right-width: 1px !important;
          outline: 0;
          box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2) !important;
      }
      .ant-select-selection {
        background-color: #ffecec !important;
        border-color: #f5222d !important;
      }

    }
  }
  .pathline {
    margin-bottom: 10px;
  }
  
}
