:global {
	.nav-top_user-dd {
    	position: relative;
		right: 5px;
		padding: 10px;
		text-align: center;
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
		
		.sk-main-button:hover,
		.sk-main-button:focus {
			color: #222;
		}
		
	}
}