:global {
	.ant-calendar-today .ant-calendar-date {
		color: #222;
		font-weight: bold;
		border-color: #ffd156;
	}
	.ant-calendar-selected-day .ant-calendar-date,
	.ant-calendar-date:hover {
	    background: rgba(255, 209, 86, 0.2);
	}
	.ant-calendar-selected-date .ant-calendar-date:hover, 
	.ant-calendar-selected-start-date .ant-calendar-date:hover, 
	.ant-calendar-selected-end-date .ant-calendar-date:hover {
		background: rgba(255, 209, 86, 0.2);
	}
	.ant-calendar-selected-date .ant-calendar-date, 
	.ant-calendar-selected-start-date .ant-calendar-date, 
	.ant-calendar-selected-end-date .ant-calendar-date {
		color: #222;
	    background: rgba(255, 209, 86, 0.2);
		border: 1px solid transparent;
	}
	.ant-calendar-date:active {
		color: #222;
    	background: rgba(255, 209, 86, 0.2);
	}
	.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
		border-color: #ffd156;
	}
	.ant-calendar-today-btn,
	.ant-calendar-time-picker-btn  {
		color: #222;
		&:active,
		&:link,
		&:visited {
			color: #222;
		}
		&:hover,
		&:focus {
			color: #999;
		}
	}
	.ant-calendar .ant-calendar-ok-btn:not(.ant-calendar-ok-btn-disabled) {
		color: #222;
		background-color: #ffd156;
		border-color: #ffd156;
		&:hover,
		&:focus {
			color: #222;
			background-color: transparent;
			border-color: #ffd156;
		}
	}
	.ant-calendar-header a:hover {
		color: #ffd156;
	}
	.ant-calendar-header a.ant-calendar-year-panel-year:hover,
	.ant-calendar-header a.ant-calendar-month-panel-month:hover {
		color: #222;
    	background: rgba(255, 209, 86, 0.2);
	}
	.ant-calendar-year-panel-selected-cell .ant-calendar-year-panel-year,
	.ant-calendar-month-panel-selected-cell .ant-calendar-month-panel-month {
		color: #222;
		background: #ffd156;
	}
	.ant-calendar-time-picker-select li:hover {
		color: #222;
    	background: rgba(255, 209, 86, 0.2);
	}
	.ant-calendar-time-picker-select li:focus {
		color: #222;
	}
}